<button type="button" mat-icon-button [matMenuTriggerFor]="headerMenu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #headerMenu="matMenu" xPosition="before">
    <mat-list>
        <mat-list-item>
            <a href="javascript:void(0)" (click)="alterarSenha()">
                <span class="link-name">Alterar Senha</span>
            </a>
        </mat-list-item>
        <mat-list-item>
            <a href="javascript:void(0)" (click)="excluirConta()">
                <span class="link-name">Excluir Conta</span>
            </a>
        </mat-list-item>
    </mat-list>
    <div class="button-sair-content">
        <button class="button-sair" mat-flat-button (click)="sair()">Sair</button>
    </div>
</mat-menu>
