<mat-card>
    <mat-card-header>
        <mat-card-title>Minha Conta</mat-card-title>
    </mat-card-header>
    <form [formGroup]="minhaContaForm">
        <mat-card-content>
            <mat-grid-list cols="3" rowHeight='100px' gutterSize="15px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input type="text" id="nome" formControlName="nome" matInput required>
                        <mat-error *ngIf="minhaContaForm.hasError('required', 'nome')">
                            Digite o nome por favor.
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input type="email" id="email" formControlName="email" matInput required>
                        <mat-error *ngIf="minhaContaForm.hasError('required', 'email')">
                            Digite o email por favor.
                        </mat-error>
                        <mat-error *ngIf="minhaContaForm.hasError('email', 'email')">
                            O email é inválido.
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input type="text" id="telefone" formControlName="telefone" matInput>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <div class="div-btn">
                <button mat-raised-button class="btn-voltar" [routerLink]="['../dashboard']">Voltar</button>
                <button mat-button class="btn-salvar" (click)="updateUsuario()">Salvar</button>
            </div>
        </mat-card-content>
    </form>
</mat-card>
