<div class="sidebar-container">
    <mat-toolbar>
        <mat-icon class="material-icons-outlined">currency_exchange</mat-icon>
        <span>Controle Financeiro</span>
        <div class="header">
            <app-header></app-header>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" mode="side" opened="true">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- Add Content Here -->
            <footer>
                <p>Copyright 2023 - Todos direitos reservados</p>
            </footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>