.sidenav-container {
    height: calc(100% - 60px);
    .sidenav {
        width: 220px;
    }
}

mat-toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;

    mat-icon {
        margin-right: 5px;
    }

    .header {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

.content {
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 100%;
    bottom: 0;
    box-shadow: none;
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-width: 1px;
    border-top-style: solid;

    p {
        font-size: 10px;
    }
}