<mat-card>
    <mat-card-header>
        <mat-card-title>{{ titulo }}</mat-card-title>
    </mat-card-header>
    <mat-stepper #stepper>
        <mat-step [stepControl]="arquivoPdfForm" label="Dados do Arquivo">
            <form [formGroup]="arquivoPdfForm">
                <mat-card-content>
                    <mat-grid-list cols="3" rowHeight='100px' gutterSize="15px">
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Alias</mat-label>
                                <input type="text" id="nome" formControlName="alias" matInput required>
                                <mat-error *ngIf="arquivoPdfForm.hasError('required', 'alias')">
                                    Digite o Alias por favor.
                                </mat-error>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <div class="div-btn">
                        <button mat-raised-button class="btn-voltar" (click)="voltar()">Fechar</button>
                        <button mat-raised-button color="primary" [disabled]="arquivoPdfForm.invalid" *ngIf="!isEdit" matStepperNext>Próximo</button>
                        <button mat-button class="btn-salvar" [disabled]="arquivoPdfForm.invalid" *ngIf="isEdit" (click)="salvar()">Salvar</button>
                    </div>
                </mat-card-content>
            </form>
        </mat-step>
        <mat-step label="Importar Arquivo" *ngIf="!isEdit">
            <mat-card-content>
                <div class="file-container">
                    <div class="div-arquivo-texto" *ngIf="fileName != null && fileName.length > 0">
                        {{fileName}}
                    </div>
                    <input type="file" accept=".pdf" (change)="getFile($event)" #fileInput class="file">
                    <div class="div-arquivo-btn">
                        <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
                            <mat-icon>attach_file</mat-icon>
                            Selecionar Arquivo
                        </button>
                    </div>
                </div>
                <div class="div-btn">
                    <button mat-raised-button class="btn-voltar" matStepperPrevious>Voltar</button>
                    <button mat-button class="btn-salvar" (click)="salvar()">Salvar</button>
                </div>
            </mat-card-content>
        </mat-step>
    </mat-stepper>
</mat-card>
